Repository bdyutish/Hawkeye-2021: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build client, build api, deploy-api, deploy-client

build client:
  image: tmaier/docker-compose:latest
  tags:
  - docker
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REG_USERNAME" -p "$CI_REG_TOKEN" $CI_REGISTRY
  script:
  ...

build api:
  image: tmaier/docker-compose:latest
  tags:
  - docker
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REG_USERNAME" -p "$CI_REG_TOKEN" $CI_REGISTRY
  script:
  ...

deploy-api:
  stage: deploy
  tags:
  - shell
  script:
  - ./deploy/api-deploy.yml

deploy-client:
  stage: deploy
  tags:
  - shell
  script:
  - ./deploy/client-deploy.yml

Update docker-compose.prod.yml
  docker/docker-compose.prod.yml
Due: none

Bug fixes
  api/src/controllers/authController.ts
  api/src/controllers/hawksNestController.ts
  api/src/controllers/questionController.ts
  api/src/models/User.ts
Due: build api, deploy-api

bgfd
  api/src/errors/requestValidationError.ts
  client/src/App.tsx
  client/src/components/Button.tsx
  client/src/components/Loading.tsx
  client/src/pages/Nest.tsx
  client/src/pages/Question.tsx
  client/src/pages/auth/Login.tsx
  client/src/styles/_auth.scss
  client/src/styles/_home.scss
  client/src/styles/_question.scss
  client/src/utils/data.ts
Due: build client, build api, deploy-api, deploy-client

fixes
  api/src/controllers/authController.ts
  api/src/controllers/hawksNestController.ts
  client/src/App.tsx
  client/src/components/Rulebook.tsx
  client/src/pages/admin/Admin.tsx
  client/src/pages/auth/Register.tsx
  client/src/styles/_admin.scss
  client/src/utils/data.ts
Due: build client, build api, deploy-api, deploy-client

lol
  api/src/controllers/authController.ts
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.b2f0d613.chunk.css
  client/build/static/css/main.b2f0d613.chunk.css.map
  client/build/static/css/main.ec85397c.chunk.css
  client/build/static/css/main.ec85397c.chunk.css.map
  client/build/static/js/2.13334bd1.chunk.js
  client/build/static/js/2.13334bd1.chunk.js.map
  client/build/static/js/2.14361fae.chunk.js
  client/build/static/js/2.14361fae.chunk.js.LICENSE.txt
  client/build/static/js/2.14361fae.chunk.js.map
  client/build/static/js/main.6c1a6f2d.chunk.js
  client/build/static/js/main.6c1a6f2d.chunk.js.map
  client/build/static/js/main.caf5b115.chunk.js
  client/build/static/js/main.caf5b115.chunk.js.map
Due: build client, build api, deploy-api, deploy-client

Lifted login lock
  api/src/controllers/authController.ts
Due: build api, deploy-api

fds
  api/src/controllers/authController.ts
  client/src/pages/Question.tsx
  client/src/pages/auth/Register.tsx
Due: build client, build api, deploy-api, deploy-client

fixess?
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/js/main.6c1a6f2d.chunk.js
  client/build/static/js/main.6c1a6f2d.chunk.js.map
  client/build/static/js/main.c418e463.chunk.js
  client/build/static/js/main.c418e463.chunk.js.map
Due: build client, deploy-client

fixess2?
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.3f633c44.chunk.css
  client/build/static/css/main.3f633c44.chunk.css.map
  client/build/static/css/main.ec85397c.chunk.css
  client/build/static/css/main.ec85397c.chunk.css.map
  client/src/styles/_home.scss
Due: build client, deploy-client

gfdsq
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.3f633c44.chunk.css
  client/build/static/css/main.3f633c44.chunk.css.map
  client/build/static/css/main.c202b78a.chunk.css
  client/build/static/css/main.c202b78a.chunk.css.map
  client/build/static/js/2.14361fae.chunk.js
  client/build/static/js/2.14361fae.chunk.js.map
  client/build/static/js/2.cb90bea1.chunk.js
  client/build/static/js/2.cb90bea1.chunk.js.LICENSE.txt
  client/build/static/js/2.cb90bea1.chunk.js.map
  client/build/static/js/main.7388ba75.chunk.js
  client/build/static/js/main.7388ba75.chunk.js.map
  client/build/static/js/main.c418e463.chunk.js
  client/build/static/js/main.c418e463.chunk.js.map
  client/src/App.tsx
  client/src/pages/Nest.tsx
  client/src/pages/Question.tsx
  client/src/styles/_dropdown.scss
  client/src/styles/_question.scss
Due: build client, deploy-client

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update index.ts
  api/src/index.ts
Due: build api, deploy-api

testt
  .gitlab-ci.yml
  api/src/index.ts
Due: build api, deploy-api

heyo
  .gitlab-ci.yml
  api/src/index.ts
Due: build api, deploy-api

F
  .gitlab-ci.yml
  api/src/index.ts
Due: build api, deploy-api

yess
  .gitlab-ci.yml
  docker/docker-compose.prod.yml
Due: none

F
  .gitlab-ci.yml
  docker/docker-compose.prod.yml
Due: none

hmm
  .gitlab-ci.yml
Due: none

6hrsToGo
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.a1040eba.chunk.css
  client/build/static/css/main.a1040eba.chunk.css.map
  client/build/static/css/main.c202b78a.chunk.css
  client/build/static/css/main.c202b78a.chunk.css.map
  client/build/static/js/2.26593441.chunk.js
  client/build/static/js/2.26593441.chunk.js.LICENSE.txt
  client/build/static/js/2.26593441.chunk.js.map
  client/build/static/js/2.cb90bea1.chunk.js
  client/build/static/js/2.cb90bea1.chunk.js.map
  client/build/static/js/main.7388ba75.chunk.js
  client/build/static/js/main.7388ba75.chunk.js.map
  client/build/static/js/main.8af9f848.chunk.js
  client/build/static/js/main.8af9f848.chunk.js.map
  client/src/App.tsx
  client/src/components/Rulebook.tsx
  client/src/context/AuthContext.tsx
  client/src/pages/Nest.tsx
  client/src/pages/Question.tsx
  client/src/pages/auth/Register.tsx
  client/src/styles/_utils.scss
Due: build client, deploy-client

works??
  .gitlab-ci.yml
Due: none

final?
  .gitlab-ci.yml
  docker/docker-compose.prod.yml
Due: none

cheangeee
  api/src/app.ts
  client/src/pages/Home.tsx
Due: build client, build api, deploy-api, deploy-client

Docker compose changed
  docker/docker-compose.prod.yml
Due: none

useless change lol
  api/src/controllers/authController.ts
  client/src/App.tsx
Due: build client, build api, deploy-api, deploy-client

3hrsToGo
  api/src/controllers/adminController.ts
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.8c674b0c.chunk.css
  client/build/static/css/main.8c674b0c.chunk.css.map
  client/build/static/css/main.a1040eba.chunk.css
  client/build/static/css/main.a1040eba.chunk.css.map
  client/build/static/js/main.3b77331e.chunk.js
  client/build/static/js/main.3b77331e.chunk.js.map
  client/build/static/js/main.8af9f848.chunk.js
  client/build/static/js/main.8af9f848.chunk.js.map
  client/build/static/media/loading.d322f439.mp4
  client/src/App.tsx
  client/src/pages/Home.tsx
  client/src/pages/Landing.tsx
  client/src/pages/Nest.tsx
  client/src/pages/admin/Admin.tsx
  client/src/styles/_landing.scss
  client/src/styles/_nest.scss
  client/src/utils/data.ts
Due: build client, build api, deploy-api, deploy-client

safari gives me stress
  api/src/controllers/questionController.ts
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.695679ab.chunk.css
  client/build/static/css/main.695679ab.chunk.css.map
  client/build/static/css/main.8c674b0c.chunk.css
  client/build/static/css/main.8c674b0c.chunk.css.map
  client/build/static/js/main.3b77331e.chunk.js
  client/build/static/js/main.3b77331e.chunk.js.map
  client/build/static/js/main.b8652d1d.chunk.js
  client/build/static/js/main.b8652d1d.chunk.js.map
  client/src/pages/Question.tsx
  client/src/styles/_utils.scss
Due: build client, build api, deploy-api, deploy-client

please safari cut me some slack
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.695679ab.chunk.css
  client/build/static/css/main.695679ab.chunk.css.map
  client/build/static/css/main.7b048f82.chunk.css
  client/build/static/css/main.7b048f82.chunk.css.map
  client/build/static/js/main.1f7f560a.chunk.js
  client/build/static/js/main.1f7f560a.chunk.js.map
  client/build/static/js/main.b8652d1d.chunk.js
  client/build/static/js/main.b8652d1d.chunk.js.map
  client/src/pages/auth/Login.tsx
  client/src/styles/_landing.scss
  client/src/styles/_utils.scss
Due: build client, deploy-client

button fix??????
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.7b048f82.chunk.css
  client/build/static/css/main.7b048f82.chunk.css.map
  client/build/static/css/main.f6596ff0.chunk.css
  client/build/static/css/main.f6596ff0.chunk.css.map
  client/src/styles/_question.scss
Due: build client, deploy-client

Login lock
  api/src/controllers/authController.ts
Due: build api, deploy-api

rulebook fix
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/js/main.1f7f560a.chunk.js
  client/build/static/js/main.1f7f560a.chunk.js.map
  client/build/static/js/main.6ab4ed94.chunk.js
  client/build/static/js/main.6ab4ed94.chunk.js.map
  client/src/components/Rulebook.tsx
Due: build client, deploy-client

fdgfdg
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/js/main.0a255d8a.chunk.js
  client/build/static/js/main.0a255d8a.chunk.js.map
  client/build/static/js/main.6ab4ed94.chunk.js
  client/build/static/js/main.6ab4ed94.chunk.js.map
  client/src/context/AuthContext.tsx
  client/src/pages/auth/ForgotPassword.tsx
  client/src/pages/auth/Login.tsx
  client/src/pages/auth/Register.tsx
Due: build client, deploy-client

player
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/js/main.0a255d8a.chunk.js
  client/build/static/js/main.0a255d8a.chunk.js.map
  client/build/static/js/main.cb4ad77c.chunk.js
  client/build/static/js/main.cb4ad77c.chunk.js.map
  client/src/pages/Home.tsx
Due: build client, deploy-client

Attempt timestamp
  api/src/controllers/hawksNestController.ts
  api/src/controllers/questionController.ts
  api/src/models/AttemptTime.ts
Due: build api, deploy-api

login wala hata diya
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/js/main.9ad6fa7d.chunk.js
  client/build/static/js/main.9ad6fa7d.chunk.js.map
  client/build/static/js/main.cb4ad77c.chunk.js
  client/build/static/js/main.cb4ad77c.chunk.js.map
  client/src/context/AuthContext.tsx
Due: build client, deploy-client

region unlock
  api/src/controllers/authController.ts
Due: build api, deploy-api

fixx
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/js/main.9ad6fa7d.chunk.js
  client/build/static/js/main.9ad6fa7d.chunk.js.map
  client/build/static/js/main.b6014402.chunk.js
  client/build/static/js/main.b6014402.chunk.js.map
  client/src/pages/Question.tsx
Due: build client, deploy-client

Path conditions:
  build client: any of: client/**/*
  build api: any of: api/**/*
  deploy-api: any of: api/**/*
  deploy-client: any of: client/**/*
