Repository bdyutish/Hawkeye-2021: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build client, build api

build client:
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" registry.gitlab.com
  script:
  - cd client && docker build --pull -t "$CI_REGISTRY_IMAGE"/Hawk-client:latest .
  - docker push "$CI_REGISTRY_IMAGE"/Hawk-client:latest

build api:
  image: docker:latest
  stage: build
  script:
  - echo $CI_REGISTRY_USER
  - echo $CI_REGISTRY_PASSWORD

Update index.ts
  api/src/index.ts
Due: build api

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

progrez
  api/seeder.js
  client/src/App.tsx
  client/src/pages/auth/Register.tsx
  client/src/styles/_auth.scss
  client/src/styles/_home.scss
  client/src/styles/_utils.scss
Due: build client, build api

change
  .gitlab-ci.yml
Due: none

lmso
  .gitlab-ci.yml
Due: none

Update powerupController.ts
  api/src/controllers/powerupController.ts
Due: build api

idr changing anything tbh
  client/src/utils/data.ts
Due: build client

lmao 2.0
  .gitlab-ci.yml
Due: none

Changed unlock hints
  api/src/controllers/adminController.ts
Due: build api

idr
  client/src/App.tsx
  client/src/components/PrivateRoute.tsx
  client/src/pages/Question.tsx
  client/src/pages/admin/Admin.tsx
  client/src/pages/admin/AdminQuestions.tsx
  client/tsconfig.json
Due: build client

minor
  api/src/controllers/adminController.ts
  api/src/controllers/powerupController.ts
Due: build api

sitekey
  client/src/pages/admin/Admin.tsx
  client/src/pages/auth/ForgotPassword.tsx
  client/src/pages/auth/Register.tsx
Due: build client

hfdjn
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.cdd079cc.chunk.css
  client/build/static/css/main.cdd079cc.chunk.css.map
  client/build/static/css/main.db7e739e.chunk.css
  client/build/static/css/main.db7e739e.chunk.css.map
  client/build/static/js/2.b81b79da.chunk.js
  client/build/static/js/2.b81b79da.chunk.js.LICENSE.txt
  client/build/static/js/2.b81b79da.chunk.js.map
  client/build/static/js/2.c571b80f.chunk.js
  client/build/static/js/2.c571b80f.chunk.js.map
  client/build/static/js/main.25d59a19.chunk.js
  client/build/static/js/main.25d59a19.chunk.js.map
  client/build/static/js/main.8f7c51b5.chunk.js
  client/build/static/js/main.8f7c51b5.chunk.js.map
Due: build client

test
  .gitlab-ci.yml
Due: none

100 test
  .gitlab-ci.yml
Due: none

101 test
  .gitlab-ci.yml
Due: none

102 test
  .gitlab-ci.yml
Due: none

here we go
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update README.md
  README.md
Due: none

Some changes
  api/src/app.ts
  api/src/controllers/adminController.ts
  api/src/controllers/authController.ts
  api/src/middlewares/auth.ts
  api/src/routes/adminRoutes.ts
  api/src/utils/helperFunctions.ts
Due: build api

webpack stuff
  client/src/App.tsx
  client/src/pages/Home.tsx
  run.sh
Due: build client

check pipeline
  api/src/index.ts
Due: build api

F
  .gitlab-ci.yml
  api/src/index.ts
Due: build api

F2.0
  .gitlab-ci.yml
  api/src/index.ts
Due: build api

im ded
  .gitlab-ci.yml
  api/src/index.ts
Due: build api

asas
  .gitlab-ci.yml
  api/src/index.ts
Due: build api

ssd
  .gitlab-ci.yml
  api/src/index.ts
Due: build api

does it work then?
  .gitlab-ci.yml
  api/src/index.ts
Due: build api

pre deleting server
  client/src/App.tsx
  client/src/assets/flips/nest.png
  client/src/components/HUD.tsx
  client/src/pages/Landing.tsx
  client/src/pages/Nest.tsx
  client/src/pages/Question.tsx
  client/src/pages/auth/ForgotPassword.tsx
  client/src/pages/auth/Register.tsx
  client/src/pages/auth/ResetPassword.tsx
  client/src/styles/_base.scss
  client/src/styles/_home.scss
  client/src/styles/_question.scss
  client/src/styles/_shop.scss
  client/src/utils/data.ts
  docker/docker-compose.prod.yml
Due: build client

Path conditions:
  build client: any of: client/**/*
  build api: any of: api/**/*
