Repository bdyutish/Hawkeye-2021: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build client, build api, deploy-api, deploy-client

.gitlab-ci.yml:

# This file is a template, and might need editing before it works on your project.
# Build a Docker image with CI/CD and push to the GitLab registry.
# Docker-in-Docker documentation: https://docs.gitlab.com/ee/ci/docker/using_docker_build.html
#
# This template uses one generic job with conditional builds
# for the default branch and all other (MR) branches.
stages:
  - build
  - deploy

# test-build:
#   tags: 
#     - docker
#   stage: build
#   image: tmaier/docker-compose:latest
#   services:
#     - docker:dind
#   script:
#     - docker ps
#     - docker-compose -f docker/docker-compose.prod.yml down

build client:
  # Use the official docker image
  image: tmaier/docker-compose:latest
  tags: 
    - docker
  stage: build
  only:
    changes:
      - client/**/*

  services:
    - docker:dind

  before_script:
    - docker login -u "$CI_REG_USERNAME" -p "$CI_REG_TOKEN" $CI_REGISTRY

  script:
    - cd client && docker build -t $CI_REGISTRY/iecse-manipal/board-20/prometheus-21/hawkeye-2021/hawk-client:latest -f client.prod.Dockerfile .
    - docker push $CI_REGISTRY/iecse-manipal/board-20/prometheus-21/hawkeye-2021/hawk-client:latest

  after_script:
    - docker logout $CI_REGISTRY

build api:
  # Use the official docker image.
  image: tmaier/docker-compose:latest
  tags: 
    - docker
  stage: build
  only:
    changes:
      - api/**/*

  services:
    - docker:dind

  before_script:
    - docker login -u "$CI_REG_USERNAME" -p "$CI_REG_TOKEN" $CI_REGISTRY
  script:
    - cd api && docker build -t $CI_REGISTERY/iecse-manipal/board-20/prometheus-21/hawkeye-2021/hawk-api:latest -f api.prod.Dockerfile .
    - docker push $CI_REGISTERY/iecse-manipal/board-20/prometheus-21/hawkeye-2021/hawk-api

deploy-api: 
  stage: deploy
  only:
    changes:
      - api/**/*
  tags:
    - shell
  script:
    - ./deploy/api-deploy.yml

deploy-client: 
  stage: deploy
  only:
    changes:
      - client/**/*
  tags:
    - shell
  script:
    - ./deploy/client-deploy.yml

please work
  .gitlab-ci.yml
  api/src/index.ts
  client/client.prod.Dockerfile
Due: build client, build api, deploy-api, deploy-client

s
  api/src/index.ts
  deploy/api-deploy.sh
Due: build api, deploy-api

dev
  .gitlab-ci.yml
  api/src/index.ts
Due: build api, deploy-api

lmao
  .gitlab-ci.yml
  client/client.dev.Dockerfile
Due: build client, deploy-client

change
  .gitlab-ci.yml
Due: none

Update client.prod.Dockerfile
  client/client.prod.Dockerfile
Due: build client, deploy-client

Built client
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.ca24d436.chunk.css
  client/build/static/css/main.ca24d436.chunk.css.map
  client/build/static/css/main.db7e739e.chunk.css
  client/build/static/css/main.db7e739e.chunk.css.map
  client/build/static/js/2.5c63bdc8.chunk.js
  client/build/static/js/2.5c63bdc8.chunk.js.LICENSE.txt
  client/build/static/js/2.5c63bdc8.chunk.js.map
  client/build/static/js/2.b81b79da.chunk.js
  client/build/static/js/2.b81b79da.chunk.js.map
  client/build/static/js/main.8f7c51b5.chunk.js
  client/build/static/js/main.8f7c51b5.chunk.js.map
  client/build/static/js/main.cfaa9b29.chunk.js
  client/build/static/js/main.cfaa9b29.chunk.js.map
  client/package-lock.json
Due: build client, deploy-client

IT WORKS
  deploy/api-deploy.sh
Due: none

Minor
  api/src/controllers/regionController.ts
  api/src/routes/regionRoutes.ts
Due: build api, deploy-api

shop ress
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.db7e739e.chunk.css
  client/build/static/css/main.db7e739e.chunk.css.map
  client/build/static/css/main.e5d39d5e.chunk.css
  client/build/static/css/main.e5d39d5e.chunk.css.map
  client/build/static/js/2.03c510db.chunk.js
  client/build/static/js/2.03c510db.chunk.js.LICENSE.txt
  client/build/static/js/2.03c510db.chunk.js.map
  client/build/static/js/2.b81b79da.chunk.js
  client/build/static/js/2.b81b79da.chunk.js.map
  client/build/static/js/main.2058c43f.chunk.js
  client/build/static/js/main.2058c43f.chunk.js.map
  client/build/static/js/main.8f7c51b5.chunk.js
  client/build/static/js/main.8f7c51b5.chunk.js.map
  client/src/App.tsx
  client/src/assets/logos/Africa.png
  client/src/assets/logos/Americas.png
  client/src/assets/logos/Antarctica.png
  client/src/assets/logos/Asia.png
  client/src/assets/logos/Australia.png
  client/src/assets/logos/Europe.png
  client/src/assets/selected/Africa.png
  client/src/assets/selected/Americas.png
  client/src/assets/selected/Antarctica.png
  client/src/assets/selected/Asia.png
  client/src/assets/selected/Australia.png
  client/src/assets/selected/Europe.png
  client/src/components/Shop.tsx
  client/src/context/AuthContext.tsx
  client/src/pages/Nest.tsx
  client/src/pages/Question.tsx
  client/src/styles/_base.scss
  client/src/styles/_constants.scss
  client/src/styles/_home.scss
  client/src/styles/_landing.scss
  client/src/styles/_question.scss
  client/src/styles/_rulebook.scss
  client/src/styles/_shop.scss
Due: build client, deploy-client

Minor
  api/src/controllers/adminController.ts
  api/src/controllers/questionController.ts
  api/src/routes/adminRoutes.ts
Due: build api, deploy-api

Leaderboard change
  api/src/controllers/adminController.ts
Due: build api, deploy-api

region fix
  client/src/App.tsx
  client/src/components/HUD.tsx
  client/src/pages/Landing.tsx
  client/src/pages/Question.tsx
  client/src/styles/_base.scss
  client/src/styles/_question.scss
  client/src/utils/data.ts
Due: build client, deploy-client

fixed stats
  api/src/controllers/questionController.ts
Due: build api, deploy-api

lol
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.271b5282.chunk.css
  client/build/static/css/main.271b5282.chunk.css.map
  client/build/static/css/main.ca24d436.chunk.css
  client/build/static/css/main.ca24d436.chunk.css.map
  client/build/static/css/main.e5d39d5e.chunk.css
  client/build/static/css/main.e5d39d5e.chunk.css.map
  client/build/static/js/2.5c63bdc8.chunk.js
  client/build/static/js/2.5c63bdc8.chunk.js.LICENSE.txt
  client/build/static/js/2.5c63bdc8.chunk.js.map
  client/build/static/js/main.2058c43f.chunk.js
  client/build/static/js/main.2058c43f.chunk.js.map
  client/build/static/js/main.cfaa9b29.chunk.js
  client/build/static/js/main.cfaa9b29.chunk.js.map
  client/build/static/js/main.d519065c.chunk.js
  client/build/static/js/main.d519065c.chunk.js.map
Due: build client, deploy-client

dropdown
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.271b5282.chunk.css
  client/build/static/css/main.271b5282.chunk.css.map
  client/build/static/css/main.8b96c43f.chunk.css
  client/build/static/css/main.8b96c43f.chunk.css.map
  client/build/static/js/2.03c510db.chunk.js
  client/build/static/js/2.03c510db.chunk.js.map
  client/build/static/js/2.fb264f7d.chunk.js
  client/build/static/js/2.fb264f7d.chunk.js.LICENSE.txt
  client/build/static/js/2.fb264f7d.chunk.js.map
  client/build/static/js/main.c15b0430.chunk.js
  client/build/static/js/main.c15b0430.chunk.js.map
  client/build/static/js/main.d519065c.chunk.js
  client/build/static/js/main.d519065c.chunk.js.map
  client/build/static/media/desktop.a25d549e.svg
  client/build/static/media/desktop.d8fa3c43.png
  client/build/static/media/hawk.f910eee3.svg
  client/build/static/media/mobile.011fc8c7.svg
  client/src/App.tsx
  client/src/assets/hawk.svg
  client/src/components/Rulebook.tsx
  client/src/pages/Home.tsx
  client/src/pages/Nest.tsx
  client/src/pages/Question.tsx
  client/src/pages/ReadyToPlay.tsx
  client/src/pages/auth/ForgotPassword.tsx
  client/src/pages/auth/Login.tsx
  client/src/pages/auth/Register.tsx
  client/src/pages/auth/ResetPassword.tsx
  client/src/pages/auth/VerifyMail.tsx
  client/src/styles/_base.scss
  client/src/styles/_home.scss
  client/src/styles/_question.scss
Due: build client, deploy-client

lol
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.8b96c43f.chunk.css
  client/build/static/css/main.8b96c43f.chunk.css.map
  client/build/static/css/main.e526c1a2.chunk.css
  client/build/static/css/main.e526c1a2.chunk.css.map
  client/build/static/js/2.310186b8.chunk.js
  client/build/static/js/2.310186b8.chunk.js.LICENSE.txt
  client/build/static/js/2.310186b8.chunk.js.map
  client/build/static/js/2.fb264f7d.chunk.js
  client/build/static/js/2.fb264f7d.chunk.js.map
  client/build/static/js/main.79bfcaff.chunk.js
  client/build/static/js/main.79bfcaff.chunk.js.map
  client/build/static/js/main.c15b0430.chunk.js
  client/build/static/js/main.c15b0430.chunk.js.map
  client/build/static/media/Africa.f9594205.svg
  client/build/static/media/Americas.4250eef1.svg
  client/build/static/media/Antarctica.07c9ffee.svg
  client/build/static/media/Asia.d4f6076c.svg
  client/build/static/media/Australia.c312ff88.svg
  client/build/static/media/Europe.34b86c80.svg
  client/src/App.tsx
  client/src/pages/Question.tsx
  client/src/styles/_auth.scss
  client/src/styles/_base.scss
  client/src/styles/_question.scss
Due: build client, deploy-client

fix?
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/js/2.310186b8.chunk.js
  client/build/static/js/2.310186b8.chunk.js.map
  client/build/static/js/2.df2e3586.chunk.js
  client/build/static/js/2.df2e3586.chunk.js.LICENSE.txt
  client/build/static/js/2.df2e3586.chunk.js.map
  client/build/static/js/main.2704ce6b.chunk.js
  client/build/static/js/main.2704ce6b.chunk.js.map
  client/build/static/js/main.79bfcaff.chunk.js
  client/build/static/js/main.79bfcaff.chunk.js.map
  client/src/App.tsx
  client/src/pages/Question.tsx
Due: build client, deploy-client

unlock button
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.b1dd7cb0.chunk.css
  client/build/static/css/main.b1dd7cb0.chunk.css.map
  client/build/static/css/main.e526c1a2.chunk.css
  client/build/static/css/main.e526c1a2.chunk.css.map
  client/build/static/js/2.36b415cf.chunk.js
  client/build/static/js/2.36b415cf.chunk.js.LICENSE.txt
  client/build/static/js/2.36b415cf.chunk.js.map
  client/build/static/js/2.df2e3586.chunk.js
  client/build/static/js/2.df2e3586.chunk.js.map
  client/build/static/js/main.2704ce6b.chunk.js
  client/build/static/js/main.2704ce6b.chunk.js.map
  client/build/static/js/main.8372525a.chunk.js
  client/build/static/js/main.8372525a.chunk.js.map
  client/src/pages/admin/Admin.tsx
  client/src/styles/_admin.scss
Due: build client, deploy-client

check
  api/src/index.ts
Due: build api, deploy-api

changed random region
  api/src/controllers/authController.ts
Due: build api, deploy-api

Hints changed
  api/src/controllers/adminController.ts
  api/src/controllers/questionController.ts
  api/src/models/Hint.ts
  api/src/routes/adminRoutes.ts
Due: build api, deploy-api

Minor
  api/src/controllers/authController.ts
Due: build api, deploy-api

bleh
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.90bc8d7a.chunk.css
  client/build/static/css/main.90bc8d7a.chunk.css.map
  client/build/static/css/main.e526c1a2.chunk.css
  client/build/static/css/main.e526c1a2.chunk.css.map
  client/build/static/js/main.2704ce6b.chunk.js
  client/build/static/js/main.2704ce6b.chunk.js.map
  client/build/static/js/main.e4a61161.chunk.js
  client/build/static/js/main.e4a61161.chunk.js.map
  client/build/static/media/cart.74f5da4d.svg
  client/build/static/media/rules.47d40dc3.svg
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/assets/cart.svg
  client/src/assets/rules.svg
  client/src/components/Dropdown.tsx
  client/src/components/HUD.tsx
  client/src/components/Loading.tsx
  client/src/pages/Home.tsx
  client/src/pages/Question.tsx
  client/src/styles/_auth.scss
  client/src/styles/_base.scss
  client/src/styles/_dropdown.scss
  client/src/styles/_home.scss
  client/src/styles/_question.scss
  client/src/styles/_rulebook.scss
  client/src/styles/_shop.scss
  client/src/styles/_utils.scss
  run.sh
Due: build client, deploy-client

No of levels changed to 5
  api/src/controllers/adminController.ts
  api/src/controllers/powerupController.ts
  api/src/routes/adminRoutes.ts
  client/client.prod.Dockerfile
  docker/docker-compose.prod.yml
Due: build client, build api, deploy-api, deploy-client

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Minor
  api/src/controllers/questionController.ts
Due: build api, deploy-api

docker ci updates
  .gitlab-ci.yml
  deploy/api-deploy.sh
  docker/docker-compose.prod.yml
Due: none

Update docker-compose.prod.yml
  docker/docker-compose.prod.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

check
  docker/docker-compose.prod.yml
Due: none

F
  docker/docker-compose.prod.yml
Due: none

echange
  docker/docker-compose.prod.yml
Due: none

test
  api/src/controllers/authController.ts
Due: build api, deploy-api

fixess
  api/src/controllers/authController.ts
  client/build/asset-manifest.json
  client/build/index.html
  client/build/static/css/main.b2f0d613.chunk.css
  client/build/static/css/main.b2f0d613.chunk.css.map
  client/build/static/css/main.eeeeed09.chunk.css
  client/build/static/css/main.eeeeed09.chunk.css.map
  client/build/static/js/2.13334bd1.chunk.js
  client/build/static/js/2.13334bd1.chunk.js.LICENSE.txt
  client/build/static/js/2.13334bd1.chunk.js.map
  client/build/static/js/2.59a0554a.chunk.js
  client/build/static/js/2.59a0554a.chunk.js.map
  client/build/static/js/main.bf788c1b.chunk.js
  client/build/static/js/main.bf788c1b.chunk.js.map
  client/build/static/js/main.caf5b115.chunk.js
  client/build/static/js/main.caf5b115.chunk.js.map
  client/build/static/media/Africa.18846c6c.svg
  client/build/static/media/Americas.ff1e69cb.svg
  client/build/static/media/Antarctica.857f9741.svg
  client/build/static/media/Asia.0a2edf6f.svg
  client/build/static/media/Australia.49fcbdc7.svg
  client/build/static/media/Europe.e79e2088.svg
  client/src/App.tsx
  client/src/assets/buttons/Africa.svg
  client/src/assets/buttons/Americas.svg
  client/src/assets/buttons/Antarctica.svg
  client/src/assets/buttons/Asia.svg
  client/src/assets/buttons/Australia.svg
  client/src/assets/buttons/Europe.svg
  client/src/components/Button.tsx
  client/src/components/HUD.tsx
  client/src/components/Rulebook.tsx
  client/src/pages/Home.tsx
  client/src/pages/Question.tsx
  client/src/styles/_base.scss
  client/src/styles/_question.scss
  client/src/styles/_shop.scss
  client/src/styles/_utils.scss
  docker/docker-compose.dev.yml
Due: build client, build api, deploy-api, deploy-client

Nest hints
  api/src/controllers/hawksNestController.ts
  api/src/models/HawksNestHint.ts
  api/src/routes/adminRoutes.ts
Due: build api, deploy-api
